@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-light: #FAFAFA;
  --text-color-light: #000000;
  --bg-color-dark: rgb(17, 25, 39);
  --text-color-dark: #ffffff;
  --bg-secondary-light: #f4f4f4;

  --bg-button: #f71111;

  --bg-try-light: rgb(134 239 172);
  
}

html.light {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
}

html.dark {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button.tru{
  background-color: var(--bg-button);
  color: #ffffff;
}

button.settings{
  background-color: var(--bg-color);
  color: var(--text-color);
  border: var(--text-color) solid 1px;
}

form.tru {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: var(--text-color) solid 1px;
}

div.tru {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: var(--text-color) solid 1px;
}

input, button {
  outline: none;
}

button {
  cursor: pointer;
}

.sidebar{
  margin-right: 16px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1a1f29 #353d52; 
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  padding-top: 2vh;
}

*::-webkit-scrollbar-thumb {
  background-color: #2d3748; 
  border-radius: 8px; 
}

*::-webkit-scrollbar-track {
  background-color: #2d3748; 
  border-radius: 8px; 
}
.error-message {
  @apply fixed bottom-5 left-1/2 transform -translate-x-1/2 bg-red-500 text-white font-bold py-2 px-4 rounded shadow-lg z-50;
}
